body{
margin: 0;
}
.allclass main{
	display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
a.text{
	color: #FFFFFF !important;
  	text-decoration: none;
}
a.footerhp{
	color: #9C9C9C !important;
  	text-decoration: none;
  	font-size: 10pt;
}
.hppicture{
	width: 50%;
}
.allclass{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.allclass nav div{
	display: flex;
	flex-direction: column;
}
header{
	width: 100%;
	background-color: #383838;
	padding: 2px;
	height: 120px;
}
header img{
	float:left;
    margin:10px; 
    width:100px; 
    height:100px;
}
header div{
	display: flex;
	width: 100%;
	height: 64%;
	background-color: #595959;
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
}
.allclass nav{
	background-color: #595959;
	width: 100%;
	margin: 0 auto;
	padding: 3px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.allclass .hyperlink{
	width: 100%; 
	background-color:#ccc;
	margin: 0 auto;
	text-align: center;
	padding: 3px;
	order: 1;
}
.allclass .tablehp{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background-color:#707070;
	order: 3;
	padding: 3px;
}
#tablehp2{
	margin: 0 auto;
}
.tableHetn{
	background-color:  #FF7400;
}
.tableNeHetn{
	background-color:  #2818B1;
}
.allclass .form{
	width: 100%;
	background-color: #707070;
	text-align: center;
	margin: 0 auto;
	color: #FFFFFF;
	order: 2;
	padding: 3px;
}
#footerdiv{
	margin-left: 160px;
	padding: 3px;
}
.allclass footer{
	width: 100%;
	background-color: #383838;
	display: flex;
	color: #9C9C9C;
	padding: 3px;
}
@media screen and (min-width: 1080px){
    .allclass{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .allclass header div{
        display: flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
    .allclass header img{
        float: left;
        width: 100px;
        height: 100px;
    }
    .allclass main{
       width: 1000px;
    }
    .allclass nav{
        width: 1000px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .allclass .hyperlink{
        width: 1000px;
        margin-bottom: 30px;
        order: 1;
        padding: 5px;
    }
    .allclass .tablehp{
        width: 1000px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        order: 2;
    }
    .allclass .form{
        width: 1000px;
        margin-bottom: 5px;
        order: 3;
    }
    .allclass footer{
        width: 100%;
        height: 80px;
        padding-top: 30px;
    }
}